.total {
    width: 100%;
    &-bg {
        width: 100%;
        height: 100vh;
        background: rgba(77, 74, 98, 0.7);
        backdrop-filter: blur(5px);
    }
}

.mobile-popup-callback {  
    z-index: 99;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(77, 74, 98, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.3s;
    display: none;
    &__button {
        width: 100%;
    }
    &__content {
        top: 40%;
        transform: translateY(-50%);
        position: relative;
        padding: 20px;
        background: linear-gradient(234.74deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(77, 74, 98, 0.7);
        backdrop-filter: blur(25px);
    }
    &__title {
        padding-top: 20px;
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__smalltitle {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;        
        margin-bottom: 37px;
    }
    &__input {
        width: 100%;
        font-size: 16px;
    }
    &__subtitle {
        margin-top: 10px;
        color: #BDBDBD;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        font-size: 12px;
        margin-bottom: 37px;

    }
    &__close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 20px;
        cursor: pointer;
    }
    
}

input::-moz-placeholder { color: rgba(247, 247, 247, 0.603); }
input::-webkit-input-placeholder { color: rgba(247, 247, 247, 0.603); }