.mobile-modal {
    top: 380px;
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(77, 74, 98, 0.7);
    z-index: 20;
    transition: 0.3s;
    display: none;
    &__text {
        font-family: 'Roboto', sans-serif;
        line-height: 28px;
        min-height: 250px;
    }
    &__wrap {
        padding: 20px;
    }
    &__arrow {
        padding: 10px 20px 20px 0;
        cursor: pointer;
    }
    &__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    &-footer {
        margin: 40px 0 20px 0;
        padding: 20px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        &__arrow {
            margin-right: 16px;
        }
        &__end {
            padding: 20px;
            padding-top: 27px;
            background: linear-gradient(273.69deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(278.57px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
        }
    }
    
}