//desktop
@import 'desktop/background';
@import 'desktop/hero';
@import 'desktop/grid';
@import 'desktop/form';
@import 'desktop/modal';
@import 'desktop/service-modal';
@import 'desktop/popup-callback';
@import 'desktop/modal';
@import 'desktop/modal-contacts';
//mobile

@media (max-width: 1000px) {
    .hero {
        display: none;
    }
    .mobile {
        display: block;
    }
    .modal-window {
        display: none;
    }
    .popup-callback {
        display: none;
    }
    body {
        overflow: auto;
    }
}
.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}
