.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.line {
  z-index: 0;
}

.line-wrap {
  position: relative;
  width: 100%;
}

.line-bg {
  position: absolute;
  width: 100%;
  animation: mainBg 4s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.line-1 {
  position: absolute;
  width: 100%;
  animation: mainBg 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.line-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.dot {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.dot-wrap {
  display: flex;
  cursor: pointer;
}

.dot:hover {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.99);
}

.dot:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot-description {
  white-space: nowrap;
  padding-left: 25px;
  transition: 0.3s;
}

.dot-description__bank,
.dot-description__delete,
.dot-description__buy,
.dot-description__debt {
  margin-left: 45px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  display: block;
  font-weight: 400;
  width: 510px;
  padding: 18px;
  line-height: 26px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 100;
}

.dot-description__left {
  margin-left: -200px;
}

.dot-one {
  left: 51.1%;
  top: 20.3%;
  position: absolute;
}

.dot-two {
  left: 67.9%;
  top: 35%;
  position: absolute;
}

.dot-three {
  left: 70.3%;
  top: 65%;
  position: absolute;
}

.dot-four {
  left: 42.5%;
  top: 67%;
  position: absolute;
}

.dot-one:hover .dot-description__bank,
.dot-one:hover .dot-description__delete,
.dot-one:hover .dot-description__buy,
.dot-one:hover .dot-description__debt,
.dot-two:hover .dot-description__bank,
.dot-two:hover .dot-description__delete,
.dot-two:hover .dot-description__buy,
.dot-two:hover .dot-description__debt,
.dot-three:hover .dot-description__bank,
.dot-three:hover .dot-description__delete,
.dot-three:hover .dot-description__buy,
.dot-three:hover .dot-description__debt,
.dot-four:hover .dot-description__bank,
.dot-four:hover .dot-description__delete,
.dot-four:hover .dot-description__buy,
.dot-four:hover .dot-description__debt {
  display: block;
}

@keyframes mainBg {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 90%;
  margin: auto;
}

body {
  background: linear-gradient(308.68deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(849.03px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
  height: 100vh;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

.main-button {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  border: none;
  width: 422px;
  cursor: pointer;
  height: 60px;
  font-size: 18px;
  color: #252247;
  background: linear-gradient(257.79deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.25);
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url("../img/hero/hero-bg.png") no-repeat center;
  background-size: cover;
}

.hero-footer {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 5%;
  bottom: 55px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
  align-items: center;
}

.hero-footer-rights {
  flex-basis: 20%;
}

.hero-footer-policy {
  flex-basis: 60%;
}

.hero-footer-policy__text {
  cursor: pointer;
}

.hero-footer-creator {
  flex-basis: 20% img;
  flex-basis-width: 28px;
  flex-basis-height: auto;
  flex-basis-display: inline-block;
}

.hero-footer-creator__text {
  display: inline-block;
  margin-left: 20px;
}

.callback {
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 30%;
  width: 302px;
  height: 61px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(260.18deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 80.23%), rgba(255, 255, 255, 0.25);
}

.callback-text {
  color: #252247;
}

.callback-arrow {
  margin: 0 30px 0 23px;
}

.page-title {
  margin-bottom: 84px;
  padding-top: 28px;
}

.page-title-wrap {
  display: flex;
  align-items: center;
}

.page-title__name {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-size: 48px;
}

.page-title-subtitle {
  margin-left: 26px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.page-title-subtitle:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 1px;
  vertical-align: middle;
  background-color: white;
  margin-right: 19px;
  margin-bottom: 5px;
}

.contacts-item {
  display: flex;
  margin-bottom: 15px;
}

.contacts-item__info {
  margin-left: 18px;
}

.contacts-item__message {
  margin-left: 4px;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.modal {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  padding: 5vh 3vw 10vh 10vw;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  backdrop-filter: blur(5px);
  margin-left: 400px;
  transition: 0.5s;
  transform: translateX(100%);
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header {
  height: 20vh;
}

.modal-main {
  height: 50vh;
}

.modal-footer {
  position: relative;
  height: 10vh;
}

.modal-footer__block {
  position: absolute;
  top: 50%;
  left: -10%;
}

.modal-footer__arrow {
  display: inline-block;
}

.modal-footer__text {
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
}

.modal-arrow {
  position: absolute;
  cursor: pointer;
  top: 4%;
  left: -10%;
  transition: 0.3s;
}

.modal-arrow__close {
  cursor: pointer;
}

.modal-arrow:hover {
  transform: scale(1.1);
}

.modal-title {
  font-weight: 900;
  font-size: 48px;
  width: 868px;
  margin-bottom: 50px;
}

.modal-text {
  height: 100%;
  overflow: auto;
  max-height: 800px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: 100px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
  border-radius: 50px;
}

::-webkit-resizer {
  background-color: #666;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.total {
  width: 100%;
}

.total-bg {
  width: 100%;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  backdrop-filter: blur(5px);
}

.popup-callback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  transform: translateX(100%);
}

.popup-callback-content {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  width: 655px;
  padding: 60px 30px 50px 105px;
  background: linear-gradient(234.74deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(77, 74, 98, 0.7);
  backdrop-filter: blur(25px);
}

.popup-callback-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.popup-callback-smalltitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}

.popup-callback-input {
  width: 422px;
  height: 60px;
  padding-left: 18px;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(247, 247, 247, 0.603);
  border: none;
  margin-bottom: 30px;
}

.popup-callback-subtitle {
  margin-top: 10px;
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  width: 429px;
  font-size: 14px;
}

.popup-callback-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

input::-moz-placeholder {
  color: rgba(247, 247, 247, 0.603);
}

input::-webkit-input-placeholder {
  color: rgba(247, 247, 247, 0.603);
}
