@font-face {
  font-family: 'Merriweather';
  src: local("Merriweather Light"), local("Merriweather-Light"), url("../fonts/merriweatherlight.woff2") format("woff2"), url("../fonts/merriweatherlight.woff") format("woff"), url("../fonts/merriweatherlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/merriweatherregular.woff2") format("woff2"), url("../fonts/merriweatherregular.woff") format("woff"), url("../fonts/merriweatherregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local("Merriweather UltraBold"), local("Merriweather-UltraBold"), url("../fonts/merriweatherultrabold.woff2") format("woff2"), url("../fonts/merriweatherultrabold.woff") format("woff"), url("../fonts/merriweatherultrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff"), url("../fonts/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.mobile-contacts {
  top: 320px;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(77, 74, 98, 0.7);
  z-index: 20;
  transition: 0.3s;
  display: none;
}

.mobile-contacts__map {
  min-height: 485px;
  margin-top: 29px;
}

.mobile-contacts__text {
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  min-height: 250px;
}

.mobile-contacts__wrap {
  padding: 20px;
}

.mobile-contacts__arrow {
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.mobile-contacts__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mobile-contacts-footer {
  margin: 20px 0 20px 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-contacts-footer__arrow {
  margin-right: 16px;
}

.mobile-contacts-footer__end {
  padding: 20px;
  padding-top: 27px;
  background: linear-gradient(273.69deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(278.57px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
}
.mobile-debt {
  top: 320px;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(77, 74, 98, 0.7);
  z-index: 20;
  transition: 0.3s;
  display: none;
}

.mobile-debt__wrap {
  padding: 20px;
}

.mobile-debt__arrow {
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.mobile-debt__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mobile-debt__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.mobile-debt-footer {
  background: rgba(77, 74, 98, 0.7);
  padding: 20px;
}

.mobile-debt-footer__title {
  font-size: 24px;
  padding-bottom: 25px;
}

.mobile-debt-footer__input {
  width: 100%;
}

.mobile-debt-footer__button {
  width: 100%;
}

.mobile-debt-footer__attach {
  width: 14px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
}

.mobile-debt-footer__add-file {
  margin-bottom: 20px;
}

.mobile-debt-footer__add-file label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #BDBDBD;
  cursor: pointer;
  transition: 0.3s;
}

.mobile-debt-footer__add-file label:hover {
  color: white;
}

.mobile-debt-footer__add-file input {
  display: none;
}

.mobile-debt-footer__answer {
  display: none;
}

.mobile-debt-footer__block {
  cursor: pointer;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.mobile-debt-footer__text {
  margin-left: 15px;
}

.mobile-debt-footer-end {
  padding: 20px;
  padding-top: 46px;
}

.mobile-debt__active {
  transform: translateX(0%);
  display: block;
}

.inner_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-modal {
  top: 320px;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(77, 74, 98, 0.7);
  z-index: 20;
  transition: 0.3s;
  display: none;
}

.mobile-modal__text {
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  min-height: 250px;
}

.mobile-modal__wrap {
  padding: 20px;
}

.mobile-modal__arrow {
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.mobile-modal__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mobile-modal-footer {
  margin: 40px 0 20px 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-modal-footer__arrow {
  margin-right: 16px;
}

.mobile-modal-footer__end {
  padding: 20px;
  padding-top: 27px;
  background: linear-gradient(273.69deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(278.57px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
}
.total {
  width: 100%;
}

.total-bg {
  width: 100%;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
}

.mobile-popup-callback {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: rgba(77, 74, 98, 0.5);
  transition: 0.3s;
  display: none;
}

.mobile-popup-callback__button {
  width: 100%;
}

.mobile-popup-callback__content {
  top: 40%;
  transform: translateY(-50%);
  position: relative;
  padding: 20px;
  background: linear-gradient(234.74deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(77, 74, 98, 0.7);
}

.mobile-popup-callback__title {
  padding-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

.mobile-popup-callback__smalltitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 37px;
}

.mobile-popup-callback__input {
  width: 100%;
  font-size: 16px;
}

.mobile-popup-callback__subtitle {
  margin-top: 10px;
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 12px;
  margin-bottom: 37px;
}

.mobile-popup-callback__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

input::-moz-placeholder {
  color: rgba(247, 247, 247, 0.603);
}

input::-webkit-input-placeholder {
  color: rgba(247, 247, 247, 0.603);
}
.mobile-service {
  top: 320px;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(77, 74, 98, 0.7);
  z-index: 20;
  transition: 0.3s;
  display: none;
}

.mobile-service__wrap {
  padding: 20px;
}

.mobile-service__arrow {
  padding: 10px 20px 20px 0;
  cursor: pointer;
}

.mobile-service__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mobile-service__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.mobile-service-footer {
  background: rgba(77, 74, 98, 0.7);
  padding: 20px;
}

.mobile-service-footer__title {
  font-size: 24px;
  padding-bottom: 25px;
}

.mobile-service-footer__input {
  width: 100%;
}

.mobile-service-footer__button {
  width: 100%;
}

.mobile-service-footer__attach {
  width: 14px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
}

.mobile-service-footer__add-file {
  margin-bottom: 20px;
}

.mobile-service-footer__add-file label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #BDBDBD;
  cursor: pointer;
  transition: 0.3s;
}

.mobile-service-footer__add-file label:hover {
  color: white;
}

.mobile-service-footer__add-file input {
  display: none;
}

.mobile-service-footer__answer {
  display: none;
}

.mobile-service-footer__block {
  cursor: pointer;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.mobile-service-footer__text {
  margin-left: 15px;
}

.mobile-service-footer-end {
  padding: 20px;
  padding-top: 46px;
}

.mobile-service__active {
  transform: translateX(0%);
  display: block;
}

.inner_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-slider {
  height: 150px;
  width: 150px;
}
.mob-container {
  position: relative;
  width: 320px;
  padding: 20px;
  background: url("../img/mobile/mobile-lines.png") no-repeat bottom;
  background-size: cover;
}

.mobile {
  display: none;
}

.mobile-window {
  display: none;
}

.mobile-slide {
  margin-bottom: 10px;
  cursor: pointer;
}

.mobile-footer__rights {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.mobile-footer__policy {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-bottom: 27px;
}

.mobile-footer-creator img {
  width: 21px;
  height: auto;
  display: inline-block;
}

.mobile-footer-creator__text {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  padding-bottom: 20px;
}

.mobile-footer__policy {
  cursor: pointer;
}

.mobile-title {
  margin-bottom: 42px;
}

.mobile-title-wrap {
  display: flex;
  align-items: center;
}

.mobile-title__name {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

.mobile-title__subtitle {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.mobile-title__group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}

.mobile-title__line {
  height: 40px;
  width: 2px;
  vertical-align: middle;
  background-color: white;
  margin-right: 18px;
}

.navigation {
  margin-top: 50px;
  height: 201px;
  position: relative;
  margin-bottom: 200px;
}

.navigation-line {
  position: absolute;
  top: 0;
  left: -20px;
}

.navigation-list {
  padding-top: 17px;
  margin-left: 20px;
  list-style: none;
}

.navigation-item {
  margin-bottom: 21px;
  font-size: 20px;
  cursor: pointer;
}

.navigation-item:hover {
  font-weight: bold;
}

.navigation-item__debt {
  margin-bottom: 21px;
  font-size: 20px;
  cursor: pointer;
}

.navigation-item__debt:hover {
  font-weight: bold;
}

.mobile-callback {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  left: 0;
  top: 670px;
  width: 302px;
  height: 61px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(260.18deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 80.23%), rgba(255, 255, 255, 0.25);
}

.mobile-callback__text {
  color: #252247;
}

.mobile-callback__arrow {
  margin: 0 30px 0 23px;
}

@media (min-width: 500px) {
  .mob-container {
    background: url("../img/hero/particle-back.png") no-repeat bottom, linear-gradient(274.6deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(238.86px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
    background-size: cover;
  }
}
.service-modal-debt {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  backdrop-filter: blur(5px);
  margin-left: 400px;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 99;
}
.particle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.line-wrap {
  background: url("../img/hero/hero-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.line-bg {
  position: absolute;
  width: 100%;
  animation: mainBg 4s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.line-1 {
  position: absolute;
  width: 100%;
  animation: mainBg 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.line-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.dot {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.dot-wrap {
  display: flex;
  cursor: pointer;
}

.dot-wrap:hover .dot {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.99);
}

.dot:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dot-description {
  white-space: nowrap;
  padding-left: 25px;
}

.dot-description__bank,
.dot-description__delete,
.dot-description__buy,
.dot-description__debt {
  margin-left: 45px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  display: block;
  font-weight: 400;
  width: 510px;
  padding: 18px;
  line-height: 26px;
  font-size: 16px;
  background: #605970;
  display: none;
}

.dot-description__left {
  margin-left: -200px;
}

.dot-one {
  left: 51.1%;
  top: 20.3%;
  position: absolute;
  z-index: 10;
}

.dot-two {
  left: 67.9%;
  top: 35%;
  position: absolute;
  z-index: 9;
}

.dot-three {
  left: 70.3%;
  top: 65%;
  position: absolute;
  z-index: 8;
}

.dot-four {
  left: 42.5%;
  top: 67%;
  position: absolute;
  z-index: 7;
}

.dot-one:hover .dot-description__bank,
.dot-one:hover .dot-description__delete,
.dot-one:hover .dot-description__buy,
.dot-one:hover .dot-description__debt,
.dot-two:hover .dot-description__bank,
.dot-two:hover .dot-description__delete,
.dot-two:hover .dot-description__buy,
.dot-two:hover .dot-description__debt,
.dot-three:hover .dot-description__bank,
.dot-three:hover .dot-description__delete,
.dot-three:hover .dot-description__buy,
.dot-three:hover .dot-description__debt,
.dot-four:hover .dot-description__bank,
.dot-four:hover .dot-description__delete,
.dot-four:hover .dot-description__buy,
.dot-four:hover .dot-description__debt {
  display: block;
}

.fade {
  animation: 1s fade ease;
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes mainBg {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  transition: 0.5s;
  z-index: 1;
}

.hero-footer {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
  align-items: center;
}

.hero-footer-rights {
  flex-basis: 20%;
}

.hero-footer-policy {
  flex-basis: 60%;
  font-size: 14px;
}

.hero-footer-policy__text {
  cursor: pointer;
}

.callback {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  left: 0;
  bottom: 20%;
  width: 302px;
  height: 61px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF, rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.25);
  background-size: 200%;
}

.callback:hover {
  background-position: right;
}

.callback-text {
  color: #252247;
}

.callback-arrow {
  margin: 0 30px 0 23px;
}

.page-title {
  z-index: 10;
  margin-bottom: 84px;
  padding-top: 28px;
}

.page-title-wrap {
  display: flex;
  align-items: center;
}

.page-title__name {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-size: 48px;
}

.page-title__subtitle {
  margin-top: 15px;
  margin-left: 26px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.page-title__subtitle:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 1px;
  vertical-align: middle;
  background-color: white;
  margin-right: 19px;
  margin-bottom: 5px;
}

.contacts-item {
  display: flex;
  margin-bottom: 15px;
}

.contacts-item__info {
  margin-left: 18px;
  font-family: 'Merriweather', serif;
}

.contacts-item__message {
  margin-left: 4px;
}

.contacts-item__image {
  width: 24px;
  height: 23px;
  margin-top: 3px;
}

.contacts-map {
  margin-top: 40px;
  padding-right: 20px;
  width: 100%;
  height: 300px;
}

.links-slider {
  width: 160px;
  margin-top: 50px;
}

.links-slide {
  font-size: 16px;
  padding-bottom: 15px;
  cursor: pointer;
}

.modal-active {
  transform: translateX(0%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 90%;
  margin: auto;
}

body {
  background: linear-gradient(308.68deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(849.03px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%);
  height: 100%;
  overflow: hidden;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

body.modal__active .modal {
  transform: translateX(0%);
}

body.modal-contacts-window__active .modal-contacts-window {
  transform: translateX(0%);
}

body.service-modal__active .service-modal {
  transform: translateX(0%);
}

body.service-modal-debt__active .service-modal-debt {
  transform: translateX(0%);
}

body.popup-callback__active .popup-callback {
  transform: translateX(0%);
}

body.mobile-modal__active .mobile-modal {
  display: 'block';
}

body.mobile-contacts__active .mobile-contacts {
  display: 'block';
}

body.mobile-service__active .mobile-service {
  display: 'block';
}

body.mobile-debt__active .mobile-debt {
  display: 'block';
}

body.mobile-popup-callback__active .mobile-popup-callback {
  display: 'block';
}

.blur {
  filter: blur(5px);
}

.form-button {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 60px;
  font-size: 18px;
  color: #252247;
  background: linear-gradient(257.79deg, rgba(255, 255, 255, 0), #FFFFFF, rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.25);
  background-size: 200%;
  transition: 0.5s;
}

.form-button:hover {
  background-position: right;
}

.form-input {
  height: 60px;
  padding-left: 18px;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(247, 247, 247, 0.603);
  border: none;
  margin-bottom: 20px;
}

.modal {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  padding: 5vh 3vw 10vh 10vw;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  margin-left: 400px;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 99;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header {
  height: 20vh;
  width: 85%;
}

.modal-main {
  height: 50vh;
}

.modal-footer {
  position: relative;
  height: 10vh;
}

.modal-footer__block {
  position: absolute;
  top: 50%;
  left: -10%;
}

.modal-footer__arrow {
  display: inline-block;
}

.modal-footer__text {
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
}

.modal-arrow {
  position: absolute;
  cursor: pointer;
  top: 4%;
  left: -10%;
  transition: 0.3s;
}

.modal-arrow__close {
  cursor: pointer;
}

.modal-arrow:hover {
  transform: scale(1.1);
}

.modal-title {
  font-weight: 900;
  font-size: 40px;
}

.modal-text {
  height: 100%;
  line-height: 34px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: 100px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
  border-radius: 50px;
}

::-webkit-resizer {
  background-color: #666;
}

.service-modal {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  margin-left: 400px;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 99;
}

.service-modal-active {
  transform: translateX(0%);
}

.service-modal-wrap {
  position: relative;
  padding: 5vh 3vw 10vh 10vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.service-modal-header {
  position: relative;
  height: 20vh;
}

.service-modal-main {
  height: 40vh;
}

.service-modal-footer {
  position: relative;
  height: 40vh;
  padding: 5vh 3vw 0vh 10vw;
  background: rgba(77, 74, 98, 0.7);
}

.service-modal-footer__attach {
  width: 14px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
}

.service-modal-footer__add-file {
  flex-basis: 100%;
}

.service-modal-footer__add-file label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #BDBDBD;
  cursor: pointer;
  transition: 0.3s;
}

.service-modal-footer__add-file label:hover {
  color: white;
}

.service-modal-footer__add-file input {
  display: none;
}

.service-modal-footer__answer {
  display: none;
}

.service-modal-footer__subtitle {
  font-size: 20px;
}

.service-modal-footer__title {
  font-size: 36px;
  padding-bottom: 42px;
}

.service-modal-footer__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-modal-footer__input {
  flex-basis: 23%;
  font-size: 16px;
}

.service-modal-footer__button {
  flex-basis: 23%;
}

.service-modal-footer__block {
  position: absolute;
  bottom: 20%;
  left: 3%;
}

.service-modal-footer__arrow {
  display: inline-block;
}

.service-modal-footer__text {
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
}

.service-modal-arrow {
  position: absolute;
  cursor: pointer;
  top: 20%;
  left: -11.5%;
  transition: 0.3s;
}

.service-modal-arrow__close {
  cursor: pointer;
}

.service-modal-arrow:hover {
  transform: scale(1.1);
}

.service-modal-title {
  font-weight: 900;
  font-size: 40px;
  width: 868px;
  margin-bottom: 50px;
}

.service-modal-text {
  height: 100%;
  font-size: 20px;
  line-height: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: 100px;
}

.total {
  width: 100%;
}

.total-bg {
  width: 100%;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
}

.popup-callback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  transition: 0.3s;
  transform: translateX(100%);
  z-index: 99;
}

.popup-callback__button {
  width: 422px;
}

.popup-callback-content {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  width: 655px;
  padding: 60px 30px 50px 105px;
  background: linear-gradient(234.74deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), rgba(77, 74, 98, 0.7);
}

.popup-callback-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.popup-callback-smalltitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}

.popup-callback-input {
  width: 422px;
  font-size: 16px;
}

.popup-callback-subtitle {
  margin-top: 10px;
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  width: 429px;
  font-size: 14px;
}

.popup-callback-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-active {
  transform: translateX(0%);
}

input::-moz-placeholder {
  color: rgba(247, 247, 247, 0.603);
}

input::-webkit-input-placeholder {
  color: rgba(247, 247, 247, 0.603);
}

.modal {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  padding: 5vh 3vw 10vh 10vw;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  margin-left: 400px;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 99;
}

.modal-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header {
  height: 20vh;
  width: 85%;
}

.modal-main {
  height: 50vh;
}

.modal-footer {
  position: relative;
  height: 10vh;
}

.modal-footer__block {
  position: absolute;
  top: 50%;
  left: -10%;
}

.modal-footer__arrow {
  display: inline-block;
}

.modal-footer__text {
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
}

.modal-arrow {
  position: absolute;
  cursor: pointer;
  top: 4%;
  left: -10%;
  transition: 0.3s;
}

.modal-arrow__close {
  cursor: pointer;
}

.modal-arrow:hover {
  transform: scale(1.1);
}

.modal-title {
  font-weight: 900;
  font-size: 40px;
}

.modal-text {
  height: 100%;
  line-height: 34px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: 100px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
  border-radius: 50px;
}

::-webkit-resizer {
  background-color: #666;
}

.modal-contacts-window {
  position: absolute;
  width: 79.5%;
  top: 0;
  right: 0;
  padding: 5vh 3vw 10vh 10vw;
  height: 100vh;
  background: rgba(77, 74, 98, 0.7);
  margin-left: 400px;
  transition: 0.5s;
  z-index: 99;
  transform: translateX(100%);
}

.ymaps-layers-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

@media (min-width: 1440px) {
  .links-slider {
    width: 160px;
    margin-top: 100px;
  }

  .links-slide {
    font-size: 20px;
    padding-bottom: 20px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .hero-footer {
    padding-bottom: 35px;
  }

  .hero-footer-rights {
    flex-basis: 20%;
  }

  .hero-footer-policy {
    flex-basis: 40%;
    font-size: 12px;
  }

  .hero-footer-policy__text {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .hero-footer {
    padding-bottom: 35px;
  }

  .hero-footer-rights {
    flex-basis: 20%;
  }

  .hero-footer-policy {
    flex-basis: 40%;
    font-size: 12px;
  }

  .hero-footer-policy__text {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .hero {
    display: none;
  }

  .mobile {
    display: block;
  }

  .modal-window {
    display: none;
  }

  .popup-callback {
    display: none;
  }

  body {
    overflow: auto;
  }
}