.form-button {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    height: 60px;
    font-size: 18px;
    color: #252247;
    background: linear-gradient(257.79deg, rgba(255, 255, 255, 0), #FFFFFF, rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.25);
    background-size: 200%;
    transition: 0.5s;
    &:hover {
        background-position: right;
    }
}
.form-input {
    height: 60px;
    padding-left: 18px;
    background: rgba(255, 255, 255, 0.25);
    color: rgba(247, 247, 247, 0.603);
    border: none;
    margin-bottom: 20px;
}