@import 'mixin';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color-white
}
.container {
    max-width: 90%;
    margin: auto;
}

body {
    background: linear-gradient(308.68deg, rgba(78, 77, 94, 0.24) 2.58%, #0F0C27 55.17%), radial-gradient(849.03px at -2.08% 64.75%, rgba(37, 34, 71, 0.7) 0%, #080521 100%) ; 
    height: 100vh;
    @include Merri;
}
a {
    text-decoration: none
}
body.modal__active .modal {
    transform: translateX(0%);
}
body.modal-contacts-window__active .modal-contacts-window {
    transform: translateX(0%);
}
body.service-modal__active .service-modal {
    transform: translateX(0%);
}
body.service-modal-debt__active .service-modal-debt {
    transform: translateX(0%);
}
body.popup-callback__active .popup-callback {
    transform: translateX(0%);
}

body.mobile-modal__active .mobile-modal {
    display: 'block';
}
body.mobile-contacts__active .mobile-contacts {
    display: 'block';
}
body.mobile-service__active .mobile-service {
    display: 'block';
}
body.mobile-debt__active .mobile-debt {
    display: 'block';
}
body.mobile-popup-callback__active .mobile-popup-callback {
    display: 'block';
}