.modal-contacts-window {
    position: absolute;
    width: 79.5%;
    top: 0;
    right: 0;
    padding: 5vh 3vw 10vh 10vw;
    height: 100vh;
    background: rgba(77, 74, 98, 0.7);
    margin-left: 400px;
    transition: 0.5s;
    z-index: 99;
    transform: translateX(100%);
}